*.txt
*.bat
*.pl
*.pm
*.ico
*.lnk
*.types
*.htaccess
denwer
tmp
usr
home/custom
home/cgi-glob
home/test1.ru
home/localhost/cgi
home/localhost/cgi-bin
home/localhost/subdomain
home/localhost/www/Tools
home/localhost/www/Tests
home/localhost/www/tmp