table {
	width: 99vw;
	border-collapse: collapse;
}

a {
	text-decoration: none;
}

.animation {
	border-bottom: 1px solid;
	border-top: 1px solid;
}

.name {
	width: 1px;
	white-space: nowrap;
	overflow: visible;
	padding-right: 15px;
}

.author {
	width: 1px;
	white-space: nowrap;
	overflow: visible;
	padding-left: 15px;
}

.rate {
	width: 1px;
	white-space: nowrap;
	overflow: visible;
	padding-right: 15px;
}

.time {
	width: 1px;
	white-space: nowrap;
	overflow: visible;
	padding-left: 15px;
}