@keyframes anim1 {
	from {
		transform: translateX(0);
	}
	50% {
		transform: translateX(500px)
	}
	to {
		transform: translateX(0);
	}
}

@keyframes anim2 {
	from {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(250px, 0);
	}
	50% {
		transform: translate(250px, 250px);
	}
	75% {
		transform: translate(0, 250px);
	}
	to {
		transform: translate(0, 0);
	}
}

@keyframes anim3 {
	from {
		position: absolute;
		left: 150px;
		top: 150px;
		transform: rotate(180deg) translateX(150px) rotate(180deg);
	}
	to {
		position: absolute;
		left: 150px;
		top: 150px;
		transform: rotate(540deg) translateX(150px) rotate(540deg);
	}
}

html {
	padding: 0;
}

body {
	font-family: Verdana, sans-serif;
	margin: 0;
	font-size: 15px;
}

header {
	height: 100px;
	background: linear-gradient(20deg, #a2d3b0 3%, #e5ebcc 59%, #f6f1d3 85%);
}

svg {
	height: 30px;
	border: 1px solid red;
}

li,
li a {
	display: inline-block;
	height: 30px;
	margin-right: 30px;
	border: 1px solid red;
	color: black;
	text-decoration: none;
}

ul {
	float: right;
}

main {
	background-color: #FFF;
	padding:5px;
}

#animName {
	text-align: center;
}

#iframe {
	box-sizing: border-box;
	width: 96%;
	border-radius:5px;
	margin:auto;
	border: 1px solid #CED3D5;
}

iframe{
	width:100%;
	border:none;
	background-color: #FFF;
}

#pre {
	padding:0;
	width: 96%;
	height:300px;
	margin: auto;
}

pre,
code{
	font-size:0,9em;
	box-sizing: border-box;
	height:300px;
}

#preview {
	height: 450px;
}

footer{
	background-color:#293F50;
	height:100px;
}